*{
margin:0;
padding:0;
color:#ffffff;
}
body{
	background-color:#2f2b2a;
	position: relative;
	width:100%;
	height:100%;
}
#di{
	margin-top: 50px;
	width:100%;
	height:100%;
}
a{
	text-decoration:none;
	color:#ffffff;
}
.header{
	vertical-align: top;
	height:40px;
	position:fixed;
	top:10px;
	left:0px;
	right:0px;
	/*border:1px solid silver;
	background-color:rgba(180,190,180,0.4);*/
	display:flex;

}
.header>li{
	display:inline-block;
	margin-left:10px;
	width:100px;

}
.header>li span{
	display: inline-block;
	width:100px;
	height:100%;
	text-align: center;
	line-height: 40px;
}
.header>li span:hover{
	background:gray;
	cursor: pointer;
	border-radius: 10px;
}
.child{
	display:none;
	list-style:none;
	color:silver;
	background:gray;
	border-radius:10px;
}
.child li{
	margin-top: 10px;
}
.child li:first-child{
	margin-top:0px;
}
.child li a{
	color:silver;

}
.node-list{
	height:100%;
	width:18%;
	float:left;
}
.left{
	width:100%;
	height:80%;
	float:left;
	color:silver;
	list-style: none;
}
.left li:first-child div{
	font-size:21px;
	color:silver;
	line-height: 30px;
	text-align: center;
	width:100%;
	height:30px;
}

#lists{
	width:100%;
	height:80%;
}
#addcus{
	display:inline-block;
	font-size:14px;
	text-align:center;
	width:80%;
	height:30px;
	line-height: 30px;
	margin:10px auto 0 auto;
	
}
#addcus p{
	width:90%;
	height:100%;
	background:green;
	margin:0 auto 0 auto;
	border-radius: 5px;
	cursor: pointer;
}

.right{
	width:17%;
	float:right;
	height:100%;
	float:left;
	margin-left:5px;
	
}
label{
	width:100%;
	word-break:break-all;
}
#title{
	width:100%;
	float:left;
	height:30px;
	border:1px solid rgba(180,190,180,0.4);
}
.editadd{
	float:right;
	border:0px;
	background-color: inherit;
	width:50px;
	height:100%;
	text-align: center;
	line-height: 14px;
	color:#2f2b2a;	
}
.conul li:hover input{
	color:white;
}
#properties{
	margin-top:20px;
	height:100%;
	width:100%;
	color:rgba(180,190,180,0.4);
}
#properties div input{
	margin:0px;
	padding:0px;

}
#editable-operator{
	background: black;
	width:100%;
	height:30px;
}
#editable-operator input{
	width:25%;
	height:100%;
}
#description{
	height:30px;
	width:100%;
}
#tabs {

	font-size:18px;
	text-align: center;
}
label{
	color:rgba(180,190,180,0.4);
}
#tabs a{
	color:green;
}
#tabContent{
	width:100%;
	height:100%;
	color:blue;
}
#tabContent p{
	text-align:center;
	margin-top:20px;
	
	font-family:"微软雅黑";
}
#tips{
	margin-top:20px;
	font-size:18px;
	line-height:35px;
	
}
.addpara{
	width:100%;
	height:30px;
	margin-top:5px;
}
.addpara .operator{
	width:25%;
	text-align:center;
}
.key,.value{
	width:35%;
	height:100%;
	margin:0px;
	padding:0px;
	margin-left:20px;
}
.content{
	width:64%;
	height:100%;
	margin:10px auto 0px auto;
	border:1px solid rgba(180,190,180,0.3);
	background:black;
	float:left;
}
.adda{
	margin-top:20px;
	margin-bottom:20px;
	padding-bottom:20px;
	width:95%;
	margin:0px auto 0px auto;
}
#addnodes {
	background-color:rgba(180,190,180,0.2);
	margin-bottom:20px;
	vertical-align: middle;
}
.addnodes-input{
	height:80%;
	flex:1;
	margin-top:15px;
}
.appends{
	position:fixed;
	top:20%;
	left:23%;
	width:600px;
	margin:0 auto 0 auto;
	text-align:center;
	background-color:rgba(180,190,180,0.3);
}
.onenode{
	display: flex;
	clear:both;
	height:30px;
	display: block;
	vertical-align: middle;
	margin-top: 10px;
	margin-bottom:10px;
}
.cadd{
	clear:both;
	width:100%;
	height:30px;

}
.cadd input{
	float:right;
}
.exports{
	border:2px solid rgba(180,190,180,0.3);
	position:fixed;
	top:20%;
	left:23%;
	width:600px;
	height:200px;
	margin:0 auto 0 auto;
	background-color:rgba(180,190,180,0.3);
	color:black;

}
.exsure{
	position:absolute;
	bottom:0px;
	right:0px;
	width:100%;
	background-color:rgba(180,190,180,0.3);
}
.Jsond{
	overflow-y: scroll;
	color:black;
	height:80%;
	width:100%;
	background: white;
	border:1px solid rgba(250,190,180,0.3);
}
.exsure input{
	background: white;
	float:right;
	width:80px;
	height:100%;
	border-radius:5px;
	margin-bottom:10px;
	margin-right:10px;
}
input,select{
	color:black;
	margin-left:20px;
	height:100%;
	width:25%;
	justify-content: space-around;
}
option{
	color:black;
}
.edit-remove{
	background-color:#f0320b;
	float:left;
	margin-left:20px;
	width:20%;
	height:95%;
	border:0px;
	margin-top:10px;
}
.edit-cancel{
	background-color:rgba(0,0,0,0,0.3);
	border:0px;
	width:20%;
	height:95%;
	margin-top:10px;
	float:right;
}
.edit-add{
	background-color:#1f92ee;
	border:0px;
	width:20%;
	height:95%;
	float:right;
	margin-top:10px;
	margin-right:10px;
}
.operator{
	height:100%;
	margin-bottom:10px;
	width:8%;
	margin-right:10px;
	float:right;
	background:blue;
	border:0px;
}
.appends ul{
	display: inline-block;
	list-style: none;
}
.appends ul li{
	display: inline-block;
	margin-left:20px;
	width:20%;
	color:rgba(180,190,180,0.4);
}
.category{
	color:silver;
	width:60%;
	margin:10px auto 10px auto;
}
.cate{
	color:silver;
	font-size:18px;
	width:100%;
	border-bottom:1px solid rgba(180,190,180,0.3);
	
}
.conul{
	list-style:none;
	
}
.conul li label{
	font-size:15px;
	margin-top:6px;
	color:white;
}
.conul li label:hover{
	cursor: pointer;
}
.conul li:hover{
	background:rgba(180,190,180,0.1);
	color:white;
}
.comchild{
	padding-left:20px;
	list-style-type: none;
	padding-bottom:10px;
}